body{
    text-align: center;
    font-size: 120%;
}
button{
    border: 0px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: blue;
    font-size: 110%;
    border-radius: 10px;
    background-color: lightblue;
}

input[type=number]{
    width: 80px;
}
input{
    margin-bottom: 10px;
    height: 30px;
    font-size: 90%;
}

hr{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#line{
    color: red;
    font-size: 120%;
}