body{
    text-align: center;
    font-size: 120%;
}
button{
    border: 2px solid lightblue;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: blue;
    font-size: 70%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
}
button:hover{
    box-shadow: 0px 0px 10px 0px lightblue;
}

input[type=number]{
    width: 60px;
}
input[type=text]{
    width: 150px;
}
input{
    margin-bottom: 10px;
    margin-right: 3px;
    height: 30px;
    font-size: 90%;
    border-radius: 5px;
    border: 1px solid black;
}

hr{
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#line{
    color: red;
    font-size: 120%;
}
.name{
    margin-top: 30px;
}
.invia{
    height: 35px;
}

    
