body{
    background-color: rgb(118, 0, 0);
    cursor: default;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
form .default{
    font-size: 150%;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
.files{
    text-align: left;
    width: 1000px;
    color: lightgray;
    margin: auto;
    font-size: 150%;
    margin-bottom: 200px;
}
.delete{
    margin-right: 80px;
    text-transform: uppercase;
    color: gold;
    background-color: gray;
    border: 0px;
    font-size: 100%;
}
.delete:hover{
    cursor: pointer;
}
.check{
    margin: 20px;
    margin-left: 0px;
    text-transform: uppercase;
    background-color: gray;
    border: 0px;
    color: gold;
    font-size: 70%;
}
.all{
    text-align: center;
    padding: 20px;
    background-color: grey;
}

h1{
    text-transform: uppercase;
}
button:hover, a:hover{
    cursor: pointer;
}

.adv{
    font-size: 150%;
}
img{
    width:20px;
    height:20px;
}
.scan{
    font-size: 150%;
    color: gold;
    margin-bottom:0px ;
}
a{
    color: lightgoldenrodyellow;
    
}
button{
    background-color: gray;
    border: 2px solid lightgoldenrodyellow;
    border-radius:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: gold;
    font-size: 90%;
}
.percorso{
    font-size: 60%;
    color: lightgoldenrodyellow;
    margin-left: 10px;
    margin-right: 10px;
}
input[type="text"]{
    border-radius: 20px;
    margin: auto;
    font-size:120%;
    height:50px;
    width:300px;
}
.increadir{
    margin: auto;
    width: 500px;
    text-align: center;
}
