body{
    /*background-color: #f8b195;*/
    color: #007fff;
    cursor:default;
    margin: 0px;
}

header{
    color: gold;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	padding: 25px;
    padding-left: 0px;
    padding-right: 150px;
    text-align: center;
    padding-bottom: 15px;
}
header .title{
    font-size: 300%;
    padding-left: 0px;
    color: #007fff;
    
}
header p{
    margin-bottom: 0px;
    font-size: 150%;
}
header a{
    text-decoration: none;
    font-size: 190%;
    color: #007fff;
}
header a:hover{
    color: gold;
}

.info{
    margin: 20px;
    color: white;
    font-size: 210%;
    border-radius: 20px;
    background-color: #007fff;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px black;
}
#numero, #email, #indirizzo, #mode{
    margin: 20px;
    width: 500px;
    font-size: 180%;
    height: 65px;
    border-radius: 10px;
    border: 2px solid white;
}
.corto{
    width: 230px;
    margin: 20px;
    font-size: 180%;
    height: 65px;
    border-radius: 10px;
    border: 2px solid white;
}
.box{
    margin: auto;
    margin-bottom: 500px;
    width: 700px;
    text-align: center;
    background-color: #007fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px black;
}
button{
    background-color: #007fff;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 150%;
    margin: 20px;
    width: 200px;
    height: 50px;
}
button:hover{
    cursor: pointer;
}
.scelta{
    font-size: 250%;
    color: white;
    display: inline-block;
}
.alexa{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

