body{   
    text-align: center;
}
input{
    margin: 20px;
    height: 50px;
    width: 350px;
    font-size: 130%;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 15px ;
    padding-right: 15px;
}
button{
    height: 50px;
    font-size: 110%;
    background-color: rgb(181, 255, 255);
    border:2px solid white;
    color: blue;
    padding: 15px;
}