body{
    text-align: center;
}
.num{
    width: 75px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 170%;
}
form span{
    font-size:180%;
}
button{
    width: 130px;
    height: 55px;
    font-size: 170%;
}
.arg{
    width: 300px;
    height: 50px;
    font-size: 170%;
    margin-bottom: 30px;
}
hr{
    width: 250px;
}
.rim{
    font-size:130%;
}
.soldi{
    color:red;
}
#info{
    font-size:130%;
    text-transform: uppercase;
    color:red;
}
.elenco{
    text-align: left;
    width: 300px;
    margin: auto;
}